# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies dir
node_modules/

# testing dir
coverage/

# production dir
build/

# ignore file
.DS_Store
.env
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
bundle.js
